@import "src/constants/variables.scss";

.mainSalesBarReport {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #141414;
  border-radius: 10px;
  padding: 10px;
}
