.main {
  background-color: #141414;
  color: #6f7173;
  height: 80%;
  border-radius: 10px;
  margin: 3%;
  box-sizing: content-box;

  button {
    background-color: #0ebe75;
    height: 25px;
    width: fit-content;
    margin: 1rem;
    padding: 3px;
    border-radius: 5px;
    border: none;
  }
  button:hover {
    cursor: pointer;
  }
}
