@import "src/constants/variables.scss";

.main {
  display: flex;
  .sxColumn {
    height: calc(100vh - $header-height);
    width: 20%;
    background-color: #141414;
    border-right: 1px solid black;
  }
  .dxColumn {
    height: calc(100vh - $header-height);
    width: 80%;
    background-color: #1c1d21;
    overflow: scroll;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
}
