@import "src/constants/variables.scss";

.main {
  display: flex;
  .sxColumn {
    height: calc(100vh - $header-height);
    width: 15%;
    background-color: #141414;
    border-right: 1px solid black;
  }
  .dxColumn {
    height: calc(100vh - $header-height);
    width: 85%;
    background-color: #1c1d21;
    overflow: scroll;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
}

@media only screen and (min-device-width: 1024px) {
  .main {
    .sxColumn {
      width: 20%;
    }
    .dxColumn {
      overflow-y: hidden;
      width: 80%;
    }
  }
}
