.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: 50px;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
  svg path {
    transition: all 0.2s ease;
  }
  &:hover {
    color: #0ebe75;
  }
  &:hover svg path {
    stroke: #0ebe75;
  }
  .icon {
    font-size: 20px;
  }
  .label {
    display: none;
  }
  @media (min-width: 800px) {
    .label {
      display: block;
    }
  }
}
